/* ************************************************************Navigation Bar********************************************************* */


.logo{
width: 130px;
padding-bottom: 14px;
}


.logo img{
    
    width: 100%;
    hei ght: 100%;
}

a{
    color: white;
}
a:hover{
    color: white;
}

.navigation-bar{
    border-bottom: white solid 1px;
}

.last-item::after{
    content: "";
    position: absolute;
    top:0;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.navbar-mine{
    color: white !important;
}




/* ************************************************************header********************************************************* */

.first-slide{
    background-image: url(./images/bg-image-28.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;


}

.second-slide{
    background-image: url(./images/bg-image-29.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.layer{
    background-color: rgba(0, 0, 0, 0.394);
}
.btn-1{
    border-color: wheat;
    background-color: #00c3da;
    border: none;
    color: whitesmoke;
}
.btn-2{
    border-color: whitesmoke;

    background-color: transparent;
    color:whitesmoke;
}

.btn-2:hover{
    border-color: whitesmoke !important;
    background-color: white;
    color: black;
}
.btn-1:hover{
    background-color: #00c3da;

    /* color: black; */
}

.first-slide h1{
    font-size: 100px;
    font-weight: 900;
}
.second-slide h1{
    font-size: 100px;
    font-weight: 900;
}

/* ************************************************************who wo are section********************************************************* */

#who-we-are button{
    background-color: transparent;
    padding: 10px 25px;
    border: solid #dedede 1px;
    font-size: .75rem;
    font-weight: 500;

}


#who-we-are button:hover{
    background-color: black;
    color: white;
}





/* ************************************************************creative team section********************************************************* */

.creative-team-logo{
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    position: relative;
    /* border: solid black 3px;
    height: 300px; */

}

.creative-team-logo h2{
    /* font-size: 38px; */
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 100px;
    color: rgba(245, 245, 220, 0.823);

    



}
.creative-team-logo h3{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}

.creative-team-item{
    background-color: bluev iolet;
    /* border: black 2px solid; */
    position: relative;
    overflow: hidden;
    
}
.creative-team-item-layer-1{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 195, 218, 0.9);
    position: absolute;
    left: 0;
    top:100%;
    transition: .5s 0s ease-in-out all;
}

.creative-team-item:hover .creative-team-item-layer-1{
    top: 0;
    background-color:rgba(0, 195, 218, 0.9);
}

#creative-team i{
    color: white;
    margin-right: 10px ;
    font-size: 20px;
}

#creative-team h4, #creative-team span{
    font-size: 13px;
}




.creative-team-item-layer-2{
    width: 100%;
    height: 100%;

    /* background-color: yellow; */
    position: relative;
}

.creative-team-item-layer-2-icons{
    font-size: 13px;
    position: absolute;
    top: 30px;
    left: 20px;

}
.creative-team-item-layer-2-content{
    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 20px;
}



/*************************************** what we do section ************************************/


.what h2{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}
.what-we-do-h4{
    font-family: 'Poppins', sans-serif;
}






.what-we-do-color{
     background-color: #787878;
 }
#what-we-do h4{
    font-size: 14px;
}







ul li{
    padding-bottom: 10px ;
}





/************************************ cheap prices section ****************************************/

.cheap-prices-bg-color{
    background-color: #f7f7f7;
}

.cheap-prices-logo{
    font-family: 'Poppins', sans-serif;
    padding-top: 150px;
    position: relative;
    /* border: solid black 3px;
    height: 300px; */

}

.cheap-prices-logo h2{
    /* font-size: 38px; */
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 100px;
    color: rgba(245, 245, 220, 0.823);
    



}
.cheap-prices-logo h3{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}


.cheap-prices-item h2{
    font-size: 60px;
}
#cheap-prices h4{
    font-size: 16px;
}
/*************************************get in touch section***************************/
.get-in-touch-logo{
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
    position: relative;
    /* border: solid black 3px;
    height: 300px; */

}

.get-in-touch-logo h2{
    /* font-size: 38px; */
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 100px;
    color:rgb(240, 240, 240)
    



}
.get-in-touch-logo h3{
    position: absolute;
    bottom: 0;
    left: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}